body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

header iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

section h2 {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin: -20px -20px 20px -20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-section, .links-section, .carousel-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.info {
    max-width: 600px;
    margin: 0 auto;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.links li {
    margin-right: 20px;
}

.links li:last-child {
    margin-right: 0;
}

.links li a img {
    max-width: 60px;
    height: auto;
}

.slick-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

/* Pour rendre les images du carrousel réactives */
.slick-slide img {
    width: 100%;
    height: auto;
}

/* Pour ajuster la taille du texte sur les petits écrans */
h2 {
    font-size: 24px;
}

/* Pour ajuster la largeur des liens */
.links li {
    margin-right: 10px;
}

/* Pour ajuster la taille des logos dans la section des liens */
.links li a img {
    max-width: 40px;
}

/* Pour ajuster la taille de la police du pied de page */
footer {
    font-size: 14px;
}

.slick-prev, .slick-next {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}
